<?xml version="1.0"?>
<model>
  <name>Alex iris with realsense d455</name>
  <version>1.0</version>
  <sdf version='1.5'>alex_iris_realsense_d455.sdf</sdf>

  <author>
   <name>xue yuankui</name>
   <email>alex@px4.io</email>
  </author>

  <description>
    Alex iris with realsense d455
  </description>
</model>
